* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    font: 40px;
    display: flex;
}

ul li:nth-child(1) {
    position: absolute;
    margin-left: 0px;
    list-style-type: none;
}

img {
    height: 50px;
    width: 250px;
}

ul li:nth-child(2) {
    position: absolute;
    top: 25px;
    bottom: 50px;
    margin-left: 600px;
    list-style-type: none;
}

ul li:nth-child(3) {
    position: absolute;
    top: 25px;
    bottom: 50px;
    margin-left: 700px;
    list-style-type: none;
}

ul li:nth-child(4) {
    position: absolute;
    top: 25px;
    bottom: 50px;
    margin-left: 800px;
    list-style-type: none;
}

ul li:nth-child(5) {
    position: absolute;
    top: 25px;
    bottom: 50px;
    margin-left: 900px;
    list-style-type: none;
}

ul li:nth-child(6) {
    position: absolute;
    top: 25px;
    bottom: 50px;
    margin-left: 1000px;
    list-style-type: none;
}

ul li:nth-child(7) {
    position: relative;
    top: 25px;
    bottom: 50px;
    margin-left: 1200px;
    list-style-type: none;
}

ul li:hover {
    background-color: beige;
    align-self: start;
    flex-wrap: wrap;
    justify-content: center;
}

.first {
    display: flex;
    /*background-color: aquamarine;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 45px;
}

section span img {
    width: 82px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 70vw;
    text-align: center;
}

.btn {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color:white;
}
.green {
    background-color: #5cb85c;
}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.second {
   max-width: 50vw;
   margin: auto;
   /*background-color: aquamarine;*/
}

.item {
    padding:23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download:nth-child(2){
    font-size: 23px;
}

.download img{
    height: 50px;
    width:50px;
    padding: 0px 12px;
}

.download{
    display: flex;
    font-family: sans-serif;
    align-items: center;
    /*justify-content: center;*/
    gap: 10px;
}

@media screen and (max-width: 1145px){
    .grid{
        /*background-color: red;*/
        grid-template-columns: 1fr;
    }
}